<h1>All Contacts</h1>
<% @contact.each do |x|  %>
<a href="/contacts/<%= x.id %>" =><%= x.first_name %></a>
<p><%= x.last_name %></p>
<p><%= x.email %></p>
<p><%= x.phone_number %></p>
<%= link_to "Delete Me", "contacts/#{x.id}", method: :delete %>
<p>--------</p>
<% end %>