 <%= form_tag "/contacts", method: :get do %>
<input type="text" name="search_result" placeholder="Search...">
<input type="submit" Value="Search">


<p> First name: <%= @contact.first_name %></p>
<p> Last name: <%= @contact.last_name %></p>
<p> Email: <%= @contact.email %></p>
<p> Phone number: <%= @contact.phone_number %></p>
<%= form_tag "/contacts/#{@contact.id}", method: :delete do %>
  <input type="submit" value="Destroy Product">
  <p>Latitude: <%= @contact.latitude %></p>
  <p>Longitud: <%= @contact.longitud %> </p> 
<%= link_to "Delete Me", "contacts/#{@contact.id}", method: :delete %>
<% end %>