 <%= form_tag "/contacts", method: :get do %>
<input type="text" name="search_result" placeholder="Search...">
<input type="submit" Value="Search">

<% if @contacts.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@contacts.errors.count, "error") %> prohibited this article from being saved:</h2>
 
    <ul>
    <% @contacts.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<p> First name: <%= @contact.first_name %></p>
<p> Last name: <%= @contact.last_name %></p>
<p> Email: <%= @contact.email %></p>
<ul>
<% @contact.groups.each do |groups|%>
  <li><%= groups.name.capitalize %></li>
  <% end %>
</ul>
<p> Phone number: <%= @contact.phone_number %></p>
<%= form_tag "/contacts/#{@contact.id}", method: :delete do %>
  <input type="submit" value="Destroy Product">
  <p>Latitude: <%= @contact.latitude %></p>
  <p>Longitud: <%= @contact.longitud %> </p> 

<%= link_to "Delete Me", "contacts/#{@contact.id}", method: :delete %>
<% end %>
<% end %>